<%= form_with(model: the_driver, local: true) do |form| %>
  <% if the_driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(the_driver.errors.count, "error") %> prohibited this the_driver from being saved:</h2>

      <ul>
      <% the_driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :thedriverPrice %>
    <%= form.text_field :thedriverPrice %>
  </div>

  <div class="field">
    <%= form.label :thedriverWork %>
    <%= form.number_field :thedriverWork %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
