<p id="notice"><%= notice %></p>

<p>
  <strong>Thedriverprice:</strong>
  <%= @the_driver.thedriverPrice %>
</p>

<p>
  <strong>Thedriverwork:</strong>
  <%= @the_driver.thedriverWork %>
</p>

<%= link_to 'Edit', edit_the_driver_path(@the_driver) %> |
<%= link_to 'Back', the_drivers_path %>
