<%= form_with(model: investment_contract_det, local: true) do |form| %>
  <% if investment_contract_det.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(investment_contract_det.errors.count, "error") %> prohibited this investment_contract_det from being saved:</h2>

      <ul>
      <% investment_contract_det.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :idetContribDay %>
    <%= form.date_select :idetContribDay %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
