<p id="notice"><%= notice %></p>

<h1>Investment Contract Dets</h1>

<table>
  <thead>
    <tr>
      <th>Idetcontribday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investment_contract_dets.each do |investment_contract_det| %>
      <tr>
        <td><%= investment_contract_det.idetContribDay %></td>
        <td><%= link_to 'Show', investment_contract_det %></td>
        <td><%= link_to 'Edit', edit_investment_contract_det_path(investment_contract_det) %></td>
        <td><%= link_to 'Destroy', investment_contract_det, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investment Contract Det', new_investment_contract_det_path %>
