<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cName %>
    <%= form.text_field :cName %>
  </div>

  <div class="field">
    <%= form.label :cSex %>
    <%= form.text_field :cSex %>
  </div>

  <div class="field">
    <%= form.label :cDob %>
    <%= form.date_select :cDob %>
  </div>

  <div class="field">
    <%= form.label :cTel %>
    <%= form.text_field :cTel %>
  </div>

  <div class="field">
    <%= form.label :cAddress %>
    <%= form.text_field :cAddress %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
