<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Cname</th>
      <th>Csex</th>
      <th>Cdob</th>
      <th>Ctel</th>
      <th>Caddress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.cName %></td>
        <td><%= customer.cSex %></td>
        <td><%= customer.cDob %></td>
        <td><%= customer.cTel %></td>
        <td><%= customer.cAddress %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
