<%= form_with(model: passenger, local: true) do |form| %>
  <% if passenger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(passenger.errors.count, "error") %> prohibited this passenger from being saved:</h2>

      <ul>
      <% passenger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pName %>
    <%= form.text_field :pName %>
  </div>

  <div class="field">
    <%= form.label :pSex %>
    <%= form.text_field :pSex %>
  </div>

  <div class="field">
    <%= form.label :pDob %>
    <%= form.date_select :pDob %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
