<p id="notice"><%= notice %></p>

<p>
  <strong>Brandcode:</strong>
  <%= @brand.brandCode %>
</p>

<p>
  <strong>Brandname:</strong>
  <%= @brand.brandName %>
</p>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
