<%= form_with(model: member, local: true) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mName %>
    <%= form.text_field :mName %>
  </div>

  <div class="field">
    <%= form.label :mSex %>
    <%= form.text_field :mSex %>
  </div>

  <div class="field">
    <%= form.label :mDob %>
    <%= form.date_select :mDob %>
  </div>

  <div class="field">
    <%= form.label :mIdNo %>
    <%= form.text_field :mIdNo %>
  </div>

  <div class="field">
    <%= form.label :mTel %>
    <%= form.text_field :mTel %>
  </div>

  <div class="field">
    <%= form.label :mAddress %>
    <%= form.text_field :mAddress %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
