<p id="notice"><%= notice %></p>

<p>
  <strong>Mname:</strong>
  <%= @member.mName %>
</p>

<p>
  <strong>Msex:</strong>
  <%= @member.mSex %>
</p>

<p>
  <strong>Mdob:</strong>
  <%= @member.mDob %>
</p>

<p>
  <strong>Midno:</strong>
  <%= @member.mIdNo %>
</p>

<p>
  <strong>Mtel:</strong>
  <%= @member.mTel %>
</p>

<p>
  <strong>Maddress:</strong>
  <%= @member.mAddress %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
